# $Id: pkg.cfg 375 2006-06-17 19:26:32Z austinheilman $
#
#
Enabled		1
Name		datafile
Version		2.0

CoreRequired	92
Requires	gumps 1.2
Requires	control 2.0

Creator		Austin Heilman
Email		AustinHeilman@gmail.com
Maintainer	Austin Heilman
Email		AustinHeilman@gmail.com

#conflicts	none
