# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Walkon Tiles
	Version		1.0

	Description	Tiles with walkon scripts. [P]
	Description	Resurrection tile, poison field, fire field, etc.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	//Script	cmdlevel	path
}