# $Id: craftConfig.cfg 1484 2009-03-12 21:27:20Z muaddib_pol $
#
#
######################################################################################
#
# Crafting Setup	Global Settings for crafting
# {
#	MaxAmount	Max Amount allowed to be crafted in a row from gump's amount entry
#	DefaultAmount	Default amount in the text box when first using a skill
#	Info		0/1 for Off/On if skills give the Info button for items
#	MakeLast	0/1 for Off/On if skills give the Make Last button
#	Resmelt		0/1 for Off/On if skills allow resmelting from crafting gump
# }
#
######################################################################################
#
# Crafting Skills	List of all the names in the crafting system.
# {
#	Skill	alchemy
#       Skill   blacksmithy
#       Skill   carpentry
#       Skill   cartography
#	Skill	cooking
#	Skill	fletching
#	Skill	inscription
#	Skill	tailoring
#	Skill	tinkering
# }
#
######################################################################################
#
# Crafting alchemy	Exists for EACH skill in skill list above. Settings per skill
# {
#	Name		The Attribute it uses from Attributes.cfg
#	Attribute	The Attribute it uses from Attributes.cfg
#	CraftLoops	The amount of loops to play the anim/sound/delay
#	CraftDelay	The delay between each loop while crafting items
#	CraftAnim	The animation (0 if none) to play during each loop
#	CraftSound1	The sound to play in the loops while Attempting
#	CraftSound2	The sound to play in the loops when Success
#	CraftSound3	The sound to play in the loops when Failed
#	Repair		0/1 Off/On for giving the Repair button in gump
#	Smelt		0/1 Off/On for giving the Resmelt button in gump
#	MakersMark	0/1 Off/On for giving the Add Makers Mark button
#	RetainColor	0/1 Off/On for giving Retain Color button
#	MenuFile	String path of the location of the menu file
#	ExceptionalName	The string to use when exceptional items are crafted. Example below.
# }
#
# Exceptional Name Example: "an agapite helmet [exceptionalname crafter's name]"
#			    "an agapite helmet [crafted by crafter's name]"
#			    "an agapite helmet [crafted by Joe]"
#
# The exceptional name string, is prepended before the crafter's name in the brackets "[]".
#
######################################################################################
#
# It is always best to name the Skill entry and Crafting element the exact same as the
# Attributes.cfg entry for the skill you wish it to be. This will make it easier to
# keep track of.
#
# The Name entry in Crafting elements is used as the Display name for skills in Info
# Gumps.
#
######################################################################################
Crafting Setup
{
	MaxAmount	10
	DefaultAmount	1
	Info		1
	MakeLast	1
	Resmelt		1
}

Crafting Skills
{
	Skill	Alchemy
	Skill	Blacksmithy
	Skill	BowcraftFletching
	Skill	Carpentry
	Skill	Cartography
	Skill	cooking
	Skill	Inscription
	Skill	Tailoring
	Skill	Tinkering
}

Crafting Alchemy
{
	Name		Alchemy
	Attribute	Alchemy
	CraftDelay	1
	CraftLoops	2
	CraftAnim	0x0021		// Salute
	CraftSound1	0x248
	CraftSound2	0x241
	CraftSound3	0x241
	Repair		0
	Smelt		0
	MakersMark	0
	RetainColor	0
	MenuFile	:alchemy:AlchMenu
	ExceptionalName	brewed by
}

Crafting Blacksmithy
{
	Name		Blacksmithy
	Attribute	Blacksmithy
	CraftDelay	1
	CraftLoops	2
	CraftAnim	0x0009		// Attack 1 handed wide (sword/any).
	CraftSound1	0x2B
	CraftSound2	0x2B
	CraftSound3	0x2B
	Repair		1
	Smelt		1
	MakersMark	1
	RetainColor	1
	MenuFile	:blacksmithy:SmithMenu
	ExceptionalName	crafted by
}

Crafting BowcraftFletching
{
	Name		BowcraftFletching
	Attribute	BowcraftFletching
	CraftDelay	1
	CraftLoops	2
	CraftAnim	0x000A		// One hand jab
	CraftSound1	0x5A
	CraftSound2	0x5A
	CraftSound3	0x5A
	Repair		1
	Smelt		0
	MakersMark	1
	RetainColor	1
	MenuFile	:bowcraft:FletchMenu
	ExceptionalName	crafted by
}

Crafting Carpentry
{
	Name		Carpentry
	Attribute	Carpentry
	CraftDelay	2
	CraftLoops	0
	CraftAnim	0x000A		// One hand jab
	CraftSound1	0x23E
	CraftSound2	0
	CraftSound3	0
	Repair		1
	Smelt		0
	MakersMark	1
	RetainColor	1
	MenuFile	:carpentry:CarpMenu
	ExceptionalName	crafted by
}

Crafting Cartography
{
	Name		Cartography
	Attribute	Cartography
	CraftDelay	1
	CraftLoops	3
	CraftAnim	0x0021		// Salute
	CraftSound1	0x24a
	CraftSound2	0
	CraftSound3	0
	Repair	0
	Smelt		0
	MakersMark	1
	RetainColor	0
	MenuFile	:cartography:CartMenu
	ExceptionalName	drawn by
}

Crafting Cooking
{
	Name		Cooking
	Attribute	Cooking
	CraftDelay	1
	CraftLoops	0
	CraftAnim	0x0021		// Salute
	CraftSound1	0
	CraftSound2	0
	CraftSound3	0
	Repair		0
	Smelt		0
	MakersMark	1
	RetainColor	0
	MenuFile	:cooking:CookMenu
	ExceptionalName	cooked by
}

Crafting Inscription
{
	Name		Inscription
	Attribute	Inscription
	CraftDelay	4
	CraftLoops	2
	CraftAnim	0x021		// Salute
	CraftSound1	0x24a
	Repair		0
	Smelt		0
	MakersMark	0
	RetainColor	0
	MenuFile	:inscription:InscMenu
	ExceptionalName	scribed by
}

Crafting Tailoring
{
	Name		Tailoring
	Attribute	Tailoring
	CraftDelay	1
	CraftLoops	4
	CraftAnim	0x0021		// Salute
	CraftSound1	0x0249
	Repair		1
	Smelt		0
	MakersMark	1
	RetainColor	1
	MenuFile	:tailoring:TailMenu
	ExceptionalName	tailored by
}

Crafting Tinkering
{
	Name		Tinkering
	Attribute	Tinkering
	CraftDelay	2
	CraftLoops	2
	CraftAnim	0x0009
	CraftSound1	0x0043
	Repair		1
	Smelt		0
	MakersMark	1
	RetainColor	1
	MenuFile	:tinkering:TinkMenu
	ExceptionalName	tinkered by
}
