# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
        Name            Crafting Base
        Version         1.0
        Description     Main packaged include files for the Crafting Backbone.

        Creator         MuadDib
        C_Email         muaddib@lostsoulsshard.org

        Maintainer      Distro Team
        M_Email         distro@polserver.com

        // Script	cmdlevel	path
}
