# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Packethook Configuration
	Version		1.0
	Description	Settings for various Packet Hooks used in Distro.

	Creator		MuadDib
	C_Email		muaddib@lostsoulsshard.org

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
}
