# $Id: packetconfig.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
#
# Purpose
# Configure various packet behaviours
#

ConfigSet Target
{
	Enabled		1
}

ConfigSet RequestWar
{
	Enabled		1
}

# Mode:		0/3/4 = Mode type. 0 is Normal. 3 is Limited AOS, 4 is Full AOS.
# Statlock:	0/1 1=Enabled. Send stat lock states with packet.
ConfigSet StatusBar
{
	Enabled		1
	Mode		4
	Statlock	1
}

ConfigSet RequestAttack
{
	Enabled		1
}