####################################
# $Id: info.cfg 375 2006-06-17 19:26:32Z austinheilman $
#
# Elem	Index
# {
#	Index	IndexName
# }
#
# Elem	Index-IndexName
# {
#	Group	GroupName
# }
#
# Group	GroupName
# {
#	// Stanard member (.whatever) entry
#	Entry	member	Display_Name	PropertyNames	ValueParser	EditFunction
#	Entry	member	Weapon_Name	weapon.desc	0		PropChange
#
#	// Display Vitals
#	Entry	vitals
#
#	// Display attributes in a category
#	Entry	Attributes	CategoryName
#	Entry	Attributes	Stat
#
#	// Display specific attribute
#	Entry	Attribute	AttributeName
#	Entry	Attribute	Swordsmanship
# }
#
####################################

Elem	Index
{
	Index	General
	Index	Location
	Index	Client
	Index	Combat
	Index	Script
	Index	Reputation
	Index	Properties
	Index	NPC Properties
	Index	Stats & Vitals
	Index	Skills
	Index	Privileges
	Index	Storage
	Index	Miscellaneous
}
Elem	PrivList
{
	Priv	attackhidden
	Priv	canbeheardasghost
	Priv	clotheany
	Priv	dblclickany
	Priv	firewhilemoving
	Priv	freemove
	Priv	hearghosts
	Priv	hiddenattack
	Priv	invul
	Priv	losany
	Priv	moveany
	Priv	moveanydist
	Priv	plogany
	Priv	renameany
	Priv	runwhilestealth
	Priv	seeghosts
	Priv	seehidden
	Priv	seeinvisitems
	Priv	speedhack
}

Elem	Index-General
{
	Group	NameAndTitles
	Group	CommandLevels
}

Elem	Index-Location
{
	Group	Location
	Group	Multi
}

Elem	Index-Client
{
	Group	Client
	Group	Account
	Group	GottenItem
}

Elem	Index-Combat
{
	Group	Combat
	Group	WeaponInfo
}

Elem	Index-Script
{
	Group	Script
	Group	AI
}

Elem	Index-Reputation
{
	Group	Reputation
	Group	Reportables
}

Elem	Index-Properties
{
	Group	Properties
	Group	Colors
	Group	Graphics
	Group	Visibility
	Group	Movement
}

Elem	Index-NPC Properties
{
	Group	NPCProperties
}

Elem	Index-Stats & Vitals
{
	Group	Vitals
	Group	Stats
}

Elem	Index-Skills
{
	Group	Skills
}

Elem	Index-Privileges
{
	Group	Privileges
}

Elem	Index-Storage
{
	AutoBox	1
	Entry	member	Back_Pack	backpack	0	openStorage
	Group	Storage
}

Elem	Index-Miscellaneous
{
	AutoBox	1
	Entry	Blank
	Entry	Blank
}

Group	NameAndTitles
{
	AutoBox	1
// 	Entry	Type	Display_Name	Property name	VP	Editable
	Entry	member	Title_Prefix	title_prefix	0	PropEdit
	Entry	member	Name		name		0	PropEdit
	Entry	member	Title_Suffix	title_suffix	0	PropEdit
	Entry	member	Title_Race	title_race	0	PropEdit
}

Group	Location
{
	AutoBox	1
	Entry	member	X	x	0	CoordEdit
	Entry	member	Y	y	0	CoordEdit
	Entry	member	Z	z	0	CoordEdit
	Entry	member	Realm	realm	0	CoordEdit
	Entry	member	Facing	facing	0	PropEdit
}
Group	Multi
{
	AutoBox	1
	Entry	member	Multi_Name	multi.desc
	Entry	member	Multi_Serial	multi.serial	Hex
}	

Group	Client
{
	AutoBox	1
	Entry	member	Connected	connected	0	Disconnect
	Entry	member	IP_Address	ip
	Entry	member	Client_Version	clientversion
}

Group	CommandLevels
{
	AutoBox	1
	Entry	member	Account_CmdLevel	acct.defaultcmdlevel
	Entry	member	Character_CmdLevel	cmdlevel
}

Group	Account
{
	AutoBox	1
	Entry	member	Account_Name	acctname
	Entry	member	Account_Enabled	acct.enabled
	Entry	member	Account_Banned	acct.banned
}

Group	GottenItem
{
	AutoBox	1
	Entry	custom	Gotten_Item_Name
	Entry	custom	Gotten_Item_Serial	0	hex
}	

Group	Combat
{
	AutoBox	1
	Entry	member	War_Mode		warmode		0	MethodEdit
	Entry	member	Armor_Rating_(AR)	ar		0	0
	Entry	member	AR_Modifier		ar_mod		0	PropEdit
	Entry	member	Attack_Speed_Mod	delay_mod	0	PropEdit
}

Group	WeaponInfo
{
	AutoBox	1
	Entry	member	Weapon_Name	weapon.desc
	Entry	member	Weapon_Serial	weapon.serial	Hex
	Entry	member	Weapon_Objtype	weapon.objtype	Hex
	Entry	member	Intrinsic	weapon.intrinsic
	Entry	blank
	Entry	custom	Weapon_Speed
	Entry	member	Damage_Modifier	weapon.dmg_mod	0	PropEdit
	Entry	custom	Damage_Dice
	Entry	custom	Average_Damage
}

Group	Script
{
	AutoBox	1
	Entry	member	Attached_Script	attached.name
	Entry	member	Attached_Pid	attached.pid
}

Group	AI
{
	AutoBox	1
	Entry	member	AI_Script	script		Script
	Entry	member	AI_Pid		process.pid	
	Entry	member	Event_Mask	eventmask	Binary
	Entry	member	Master_Serial	master.serial	Hex
}

Group	Reputation
{
	AutoBox	1
	Entry	member	Criminal	criminal	0	MethodEdit
	Entry	member	Murderer	murderer	0	MethodEdit
}

Group	Reportables
{
	Entry	Reportables
}

Group	Properties
{
	AutoBox	1
	Entry	member	Serial_Number	serial		Hex
	Entry	member	Poisoned	poisoned
	Entry	member	Squelched	squelched	0	MethodEdit
	Entry	member	Dead		dead
	Entry	member	Height		height
	Entry	member	Weight		weight
}

Group	NPCProperties
{
	AutoBox	1
	Entry	member	NPC_Template		npctemplate
	Entry	member	Speech_Color		speechcolor		0	PropEdit
	Entry	member	Speech_Font		speechfont		0	PropEdit
	Entry	member	Use_Adjustments		useadjustments		0	PropEdit
	Entry	member	Run_Speed		runspeed		0	PropEdit
}

Group	Colors
{
	AutoBox	1
	Entry	member	Color		color		0	PropEdit
	Entry	member	True_Color	truecolor	0	PropEdit
}

Group	Graphics
{
	AutoBox	1
	Entry	member	Gender		gender		0	PropEdit
	Entry	member	Graphic		graphic		0	PropEdit
	Entry	member	True_Graphic	trueobjtype	0	PropEdit
}

Group	Movement
{
	AutoBox	1
	Entry	member	Frozen		frozen		0	PropEdit
	Entry	member	Paralyzed	paralyzed	0	PropEdit
}

Group	Visibility
{
	AutoBox	1
	Entry	member	Hidden		hidden		0	PropEdit
	Entry	member	Concealed	concealed	0	PropEdit
	Entry	member	Stealth_Steps	stealthsteps	0	PropEdit
}

Group	Vitals
{
	Entry	Vitals
}

Group	Stats
{
	Entry	Attributes	Stat
}

Group	Skills
{
	Entry	Attributes	Skill
}

Group	Privileges
{
	Entry	Privileges
}

Group	Storage
{
	Entry	StorageAreas
}