# $Id: pkg.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
#
Enabled		1
Name		gumps
Version		2.0

CoreRequired	92

Creator		Melanius and Austin
Email		AustinHeilman@gmail.com

Maintainer	The POL Distro Team
Email		distro@polserver.com

#Requires none
#conflicts	none
