# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Timed Scripts
	Version		1.0
	Description	Formerly called "Poison Watcher" [P] 
	Description	Controls how long scripts run on an player or NPC. [P]
	Description	Examples: Poison script, poo stench for 60 seconds
	Description	x seconds of being drink, etc.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
}
