#
# $Id: scissors.cfg 1089 2007-10-21 22:44:48Z sroyalty $
#
# This config file contains items that are not resources (per resource cfg)
# or not crafted items. Such as Bolts of cloth.
#

scissors 0xf95
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf96
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf97
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf98
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf99
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf9a
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf9b
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

scissors 0xf9c
{
 Name bolt of cloth
 material 50
 newitem 0x1767
}

Item 0x1078
{
 Name hide
 material 1
 newitem 0x1081
}

Item 0x1079
{
 Name hide
 material 1
 newitem 0x1081
}

Item 0x26100
{
 Name spined hide
 material 1
 newitem 0x26180
}

Item 0x26101
{
 Name horned hide
 material 1
 newitem 0x26181
}

Item 0x26102
{
 Name barbed hide
 material 1
 newitem 0x26182
}

