##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title       Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#       Item    RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
        //Index Menus
        Title   <center>Tailoring Selection Menu</center>
        Skill   tailoring
        SkillID tailoring
        Group   Other
        Group   Clothing
        Group   Leather Clothing
		Group 	Leather Armor
		Group 	Studded Armor
		Group	Shoes
}

CraftItem Other
{
	// Other Tailoring items
	Item	cloak
	Item	robe
	Item	bag
	Item	backpack
	Item 	PouchSouth
	Item 	SquarePillow1
}

CraftItem Clothing
{
	// Cloth Menu
	Item fancyshirt
	Item fancydress
	Item plaindress
	Item doublet
	Item jesterssuit
	Item tunic
	Item surcoat
	Item shirt
	Item shortpants
	Item kilt
	Item longpants
	Item halfapron
	Item fullapron
	Item bandana
	Item bodysash
	Item skullcap
	Item floppyhat
	Item widebrimhat
	Item cap
	Item bonnet
	Item featheredhat
	Item tricornehat
	Item jestershat
	Item wizardshat
}

CraftItem Leather Clothing
{
	Item leatherskirt
	Item leathershorts
}

CraftItem Leather Armor
{
	// Leather Menu
	Item	leathercap
	Item	leathersleeves
	Item	leatherleggings
	Item	leathertunic
	Item	leathergorget
	Item 	leathergloves
	Item	femaleleather
	Item 	leatherbustier

}

CraftItem Studded Armor
{
	// Leather Menu
	Item	studdedsleeves
	Item	studdedleggings
	Item	studdedtunic
	Item	studdedgorget
	Item 	studdedgloves
	Item	femalestudded
	Item	studdedbustier
}

CraftItem Shoes
{
	Item leatherboots
	Item sandals
	Item shoes
	Item thighboots
}
