# $Id: pkg.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
#

Enabled		1
Name		damage

Version		1.0

CoreRequired	97

Creator		Distro Team
Email		distro@polserver.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires	none
#Conflicts	none
