################################################################
# Build 1075386
#	{
#		Component	<ObjType> <X> <Y> <Z> <Color>
#		Component	<ObjType> <X> <Y> <Z> <Color>
#	}
# Note:
#		color - overwrites deed color
#
# Explanation:
#	Build: Followed by a corresponding cliloc 
#	number that tells the script which 
#	facing the item will be. The numbers are 
#	as follows:
#	1075386 - South
#	1075387 - East
#	1075389 - North
#	1075390 - West
#	1		- Denotes a single item
#
#	Component: corresponds to the different
#	pieces the deed will place, you can have
#	as many components as is needed to complete
#	an item. The parameters required is object type,
#	x-offset from the target & y-offset from target.
################################################################
//East
Build 1075387	
{
	Component	0x63C3 1 0 0	
	Component	0x63C4 1 1 0	
	Component	0x63C5 0 1 0	
	Component	0x63C6 0 0 0	
	Component	0x63C7 -1 1 0
	Component	0x63C8 -1 0 0
	Component	0x63C9 -2 0 0
}
//South
Build 1075386	
{
	Component	0x63BC 1 1 0	
	Component	0x63BD 0 1 0	
	Component	0x63BE 0 0 0	
	Component	0x63BF 1 0 0	
	Component	0x63C0 0 -1 0
	Component	0x63C1 1 -1 0
	Component	0x63C2 0 -2 0
}