##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill         blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID       7       <- SkillID of the skill listed in Skill.
#      Group         Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus	
	Title	<center>Inscription Selection Menu</center>
	Skill	Inscription
	SkillID	Inscription
	Group	Circle 1
	Group	Circle 2
	Group	Circle 3
	Group	Circle 4
	Group	Circle 5
	Group	Circle 6
	Group	Circle 7
	Group	Circle 8
	Group	Other
	Group	Books (blank)
}

Craftitem Circle 1
{
	
	//Sub Selections	
	Item	clumsyscroll
	Item	createfoodscroll
	Item	feeblemindscroll
	Item	healscroll
	Item	magicarrowscroll
	Item	nightsightscroll
	Item	reactivearmorscroll
	Item	weakenscroll
}



Craftitem Circle 2
{
	
	//Sub Selections
	Item 	agilityscroll
	Item	cunningscroll
	Item	curescroll
	Item	harmscroll
	Item	magictrapscroll
	Item	magicuntrapscroll
	Item	protectionscroll
	Item	strengthscroll

}

Craftitem Circle 3
{

	//Sub Selections
	Item	blessscroll
	Item	fireballscroll
	Item	magiclockscroll
	Item	poisonscroll
	Item	telekinesisscroll
	Item	teleportscroll
	Item	magicunlockscroll
	Item	wallofstonescroll

}	

Craftitem Circle 4
{

	//Sub Selections
	Item	archcurescroll
	Item	archprotectionscroll
	Item	cursecroll
	Item	firefieldscroll	
	Item	greaterhealscroll
	Item	lightningscroll
	Item	manadrainscroll
	Item	recallscroll

}

Craftitem Circle 5
{

	//Sub Selections
	Item	bladespiritscroll
	Item	dispelfieldscroll
	Item	incognitoscroll
	Item	magicrelfectscroll
	Item	mindblastscroll
	Item	paralyzescroll
	Item	poisonfieldscroll
	Item	summoncreaturescroll

}

Craftitem Circle 6
{

	//Sub Selections
	Item	dispelscroll
	Item	energyboltscroll	
	Item	explosionscroll
	Item	invisibilityscroll
	Item	markscroll
	Item	masscursescroll
	Item	paralyzefieldscroll
	Item	revealscroll

}

Craftitem Circle 7
{

	//Sub Selections
	Item	chainlightningscroll
	Item	energyfieldscroll	
	Item	flamestrikescroll
	Item	gatetravelscroll
	Item	manavampirescroll
	Item	massdispelscroll
	Item	meteorswarmscroll
	Item	polymorphscroll

}

Craftitem Circle 8
{

	//Sub Selections
	Item	earthquakescroll
	Item	energyvortexscroll
	Item	resurrectionscroll
	Item	summonairelemscroll
	Item	summondaemonscroll
	Item	summonearthelemscroll
	Item	summonfireelemscroll
	Item	summonwaterelemscroll

}

Craftitem Other
{
	//Sub Selections
	Item	Spellbook
	Item	runebook
}

Crafting Books (blank)
{
	Item	Book1
	Item	Book2
	Item	Book3
	Item	Book4
	Item	Book5
	Item	Book6
	Item	Book7
	Item	Book8
	Item	Book9
	Item	Book10
	Item	Book11
	Item	Book12
}
