# $Id: pkg.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
#
Enabled		1
Name		help

Version		1.5

CoreRequired	97

Creator		Austin Heilman
Email		AustinHeilman@gmail.com

Maintainer	*Edwards
Email		Edwards@FantasiaShard.com

#Requires	none
#Conflicts	none
