# $Id: GumpInfo.cfg 375 2006-06-17 19:26:32Z austinheilman $
#
#
elem Defaults
{
	FontColor		0x5FF	// White
	//BackGround		0x53	// SILVER_TRIM
	//ForeGround		0x1400	// DARK_STONE
	BackGround		0xE10	// BLUESLAB
	ForeGround		0x13BE	// STONESLAB
}

elem BackGrounds
{
	BLUESLAB		0xE10	// Raised edge (blocky)
	GOLDTRIM		0xA3C	// Gold-press, black backing
	OLD_SCROLL		0x1432	// Plain yellowish scroll
	OLD_JOURNAL_SCROLL	0x141E	// Same as above but with up/down arrows and other buttons
	YELLOW_SCROLL		0x24A4	// Scroll with yellow colored paper.
	WHITE_SCROLL		0x24AE	// Scroll with white(gray?) colored paper.
	PAPER			0xBB8	// Very thin edging
	FANCY_PAPER		0xDAC	//  \_ PAPER with fancy inner border
	YELLOW_PAPER		0x2454	// Plain yellow colored paper
	WHITE_PAPER		0x2486	// Same as above but white	
	STONESLAB		0x13BE	// Stone (mabrble?) background
	STONESLAB_SQUARE	0x2422	// Same as above but squared with a two line border
	STONESLAB_SQUARE_B	0x242C	// Same as above but with a neutral gray color
	SCROLL			0x9D8	// UO journal scroll
	SILVERTRIM		0x53	// Fancy, dark-grey backing with a silver border
	ROUND_GOLDTRIM_DARK	0x24B8	// Gray gump with rounded edges and gold border
	ROUND_GOLDTRIM_LIGHT	0x24B8	// Same as above but the gray is lighter in color
	ROUND_SILVERTRIM_DARK	0x254E	// Gray gump with rounded edges and silver border
	ROUND_GOLDTRIM_LIGHT	0x255E	// Same as above but the gray is lighter in color
	DARK_STONE		0x1400	// Dark colored stone with rounded corners
	LIGHT_STONE		0x13EC	// Similar to DARK_STONE but much lighter
	OPTIONS_MENU		0xA28	// Marble gump with rounded corners seen in the options menus
}

elem CheckBoxes
{
	BLUE_DIAMOND_OFF	0x868	// Blue diamond check box with gold trim
	BLUE_DIAMOND_ON		0x86A	// Blue diamond check box with gold trim
}

elem Buttons
{
	SMALL_BLUE_OFF		0xA37	// Small round blue button with gold trim
	SMALL_BLUE_ON		0xA38	// Small round blue butotn with gold trim

	LARGE_BLUE_OFF		0xA45	// Large round blue button with gold trim
	LARGE_BLUE_ON		0xA46	// Large round blue butotn with gold trim

	RED_DIAMOND_OFF		0x9AA	// Red diamond button with gold trim
	RED_DIAMOND_ON		0x9A9	// Red diamond button with gold trim

	STONE_X_OFF		0xA94	// Stone button with an X on it
	STONE_X_ON		0xA95	// Stone button with an X on it

	STONE_CHECK_OFF		0xA9A	// Stone button with a check mark on it
	STONE_CHECK_ON		0xA9B	// Stone button with a check mark on it
}

elem PageButtons
{
	STONE_DOWN_OFF		0xA56	// Stone button that points down
	STONE_DOWN_ON		0xA57	// Stone button that points down
	STONE_UP_OFF		0xA5A	// Stone button that points up
	STONE_UP_ON		0xA5B	// Stone button that points up

	STONE_SLIT_OFF		0xA96	// Stone button that has a "-" in the middle
	STONE_SLIT_ON		0xA97	// Stone button that has a "-" in the middle

	GRAY_UP_OFF		0xA90	// Narrow gray button that points up
	GRAY_UP_ON		0xA91	// Narrow gray button that points up
	GRAY_UP_OFF		0xA92	// Narrow gray button that points down
	GRAY_UP_ON		0xA93	// Narrow gray button that points down
}