# $Id: icp.cfg 259 2005-09-26 08:25:45Z panosl $
ICP Register
{
        Name            Shard Config
        Version         1.0
        Description     Configures various shard behaviours such as Shard Name, logout timers, etc.

        Creator         Hesinde-Team
        C_Email         hesinde@elitecoder.net

        Maintainer      Distro Team
        M_Email         distro@polserver.com
}
