# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#

ICP Register
{
	Name		Multi Commands
	Version		1.0

	Description	Generic commands for managing multis (boats/houses)

	Creator		Distro Team
	C_Email		distro@polserver.com

	Maintainer	Oden (ThisIsMe)
	M_Email		DavidJSGardner@Gmail.com

	// Script	cmdlevel	path
}
