# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		PickupItems
	Version		1.0
	Description	Allows the shard admins ability to control the manipulation of items.

	Creator		MuadDib
	C_Email		muaddib@lostsoulsshard.org

	Maintainer	Oden (ThisIsMe)
	M_Email		DavidJSGardner@Gmail.com

	// Script	cmdlevel	path
}
