# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#

ICP Register
{
	Name		Trap Scripts
	Version         2.0
	
	Description     Controls walk on scripts for floor traps.
	Description	Contains scripts that trigger on use-scripts for traps.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	// Script	cmdlevel	path
}
