##########################################################################
# Format for <craftskill>.cfg:
#
#	Element 0xXXXX						<-	Objtype of the item to be crafted.
#											You must use 0xAAA format rather than 0x0AAA
#	{
#		Name			Item			<-	Name of the item
#		Material_1		0				<-	Type of generic material used to craft this
#		Mat_1_Amt		0				<-	Generic material_1 amount required for non-assemble items.
#		Material_2		metal			<-	Type of second generic material needed to craft the item.
#											Some items require an additional generic material to craft them.
#		Mat_2_Amt		0				<-	Second generic material amount Required
#		skill			0.0				<-	Skill Required of Carpentry to make xx.x formated
#		difficulty		1.0				<-	Difficulty of creating this item. This value is a double, eg. xx.x
#		Points			10
#		parts			0x0 4			<-	list of Objtypes of parts for an assemble item.
#											Format is <1st objtype> <2nd objtype> <1st amount> <2nd amount> etc.
#		ProductQty		1				<-	If present, specifies the quantity of the item that will be created.
#											If not present 1 item is created.
#		assemble		1				<-	Commonly used with multi-part items but must also be used
#											if the item must be crafted from a specific item.
#		CraftNear		nothing			<-	List of item types the player must be
#											near to make the item. (nothing, mill, fire, oven)
#
#		tooltip							<-	Info to be displayed in crafting gump, Example: You must be near a flour mill
#		exceptional		0				<-	0/1 Flag. 1 = Can be exceptional
#		mark			0				<-	0/1 Flag. 1 = Can retain maker's mark
#		retain			0				<-	0/1 Flag. 1 = Can retain color of ore used
#											as assemblies. This includes making boards.
#	}
#
##########################################################################
Element 0x16500
{
	//Main Stuff
	Name		local map

	//Skill System
	Skill		10.0
	Difficulty	5.0
	Points		30.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x16501
{
	//Main Stuff
	Name		regional map

	//Skill System
	Skill		35.0
	Difficulty	40.0
	Points		70.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x1641D
{
	//Main Stuff
	Name		Map of Felucca

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x1641F
{
	//Main Stuff
	Name		Map of Trammel

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x16420
{
	//Main Stuff
	Name		Map of Ilshenar

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x16421
{
	//Main Stuff
	Name		Map of Malas

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x16422
{
	//Main Stuff
	Name		Map of Tokuno

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

Element 0x16423
{
	//Main Stuff
	Name		Map of Termur

	//Skill System
	Skill		50.0
	Difficulty	60.0
	Points		100.0

	//Material Related
	Mat_1_Amt	1
	Material_1	Map

	//Booleans
	Exceptional	1
	Mark		1
	Retain		0
}

