# use_stuff.cfg
# for use when item1 + item2 = item3
# for example, a head, when boiled in a kettle, produces a skull.
# example:
# Stuff 7598+2541: the key is the objecttype of the item that's used, a plus sign, and the objtype of the item it's used on.(all in decimal)
# skill         : the skill number (if any) needed  to produce the item
# object 0x09ed : the object id of the item you target (in this case, a kettle)
# product 0x1ae2: the item you want to produce
# skill_needed  : the skill points  needed  to produce the item
# points        : the points in the checkskill() call
# prompt Select a pot to boil that in  : the prompt to use before the targetting cursor
# target_quantity 1 : the number of products produced
# destroy_material_on_failure 1     :  destroy the source material if fail
# quantity1 1    : 1 head is needed
# quantity2 1    : ...to make 1 skull
# success_sound  : the sound effect to play for success
# failure_sound   : the sound effect to play for failure
# destroy_target_on_success 0 : don't destroy the pot if they succeed
# destroy_target_on_success 0 : ... or if they fail
# destroy_material_on_failure 0 : if they fail they still keep the head
# dont_destroy_material_on_success 0 : if succeed, destroy the head
# leftover       : the scraps to be left in their backpack
# leftover_amount : the number of scraps in their backpack


# Head on pot = skull

Stuff 7598+2541
{
 skill ""
 object 0x09ed
 product 0x1ae2
 skill_needed
 points
 prompt Select a pot in which to boil that
 target_quantity 1
 destroy_material_on_failure 1
 quantity1 1
 quantity2 1
 success_sound
 failure_sound
 destroy_target_on_success 0
 destroy_target_on_failure 0
 destroy_material_on_failure 0
 leftover
 leftover_amount
}

#  Beeswax on pot = pot of wax

Stuff 5154+2541
{
 skill ""
 object 0x09ed
 product 0x142a
 skill_needed
 points
 prompt Select a pot to melt that in
 target_quantity 1
 destroy_material_on_failure 1
 quantity1 5
 quantity2 1
  success_sound
 failure_sound
 destroy_target_on_success 1
 destroy_target_on_failure 0
 destroy_material_on_failure 1
 leftover
 leftover_amount
}

# dipping stick on pot of wax = 3 candles (and empty pot)

Stuff 5160+5162
{
 skill ""
 object 0x142a
 product 0x1433
 skill_needed
 points
 prompt
 target_quantity 3
 destroy_material_on_failure 1
 quantity1 1
 quantity2 1
 success_sound
 failure_sound
 destroy_target_on_success 1
 destroy_target_on_failure 1
 destroy_material_on_failure 1
 leftover 0x09ed
 leftover_amount 1
}

#  Skull on candle = skull candle

Stuff 6882+5171
{
 skill ""
 object 0x1433
 product 0x1853
 skill_needed
 points
 prompt
 target_quantity 1
 destroy_material_on_failure 1
 quantity1 1
 quantity2 1
 success_sound
 failure_sound
 destroy_target_on_success 1
 destroy_target_on_failure 1
 destroy_material_on_failure 1
 leftover
 leftover_amount
}

