# $Id: icp.cfg 375 2006-06-17 19:26:32Z austinheilman $
#
#
ICP Register
{
	Name		Accounts
	Version		1.0
	Description	Handles account related tasks. Monitoring, creation, etc. [P]
	Description	Auto-account packet hook thanks to Unreal!

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Yukiko
	M_Email		hopelives@outlook.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel	path
	TextCmd		3 		:accounts:commands/GM/acctinfo
	TextCmd		4 		:accounts:commands/admin/newaccount
}
