ICP Register
{
	Name		Time Utils
	Version		1.0

	Description	Package that handles ingame and real world time.

	Creator		Distro Team
	C_Email		distro@polserver.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	#Script		cmdlevel	path

	#TextCmd	cmdlevel	path
}
