# $Id: CarpMenu.cfg 990 2007-01-21 23:20:51Z sroyalty $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
#  Menu displays the item's Desc entry not the name in tinkering.cfg.
#  If no Desc entry it displays the ObjType's Name entry.
##########################################################################
Craftitem Index
{
	//Index Menus
	Title	<center>Tinkering Selection Menu</center>
	Skill	Tinkering
	SkillID	Tinkering
	Group   Containers
	Group   Decoration
	Group	Jewelry
	Group	Equipment
	Group	Lighting
	Group	Magic
	Group	Other Items
	Group	Parts
	Group	Tools
	Group	Cookware
}

Craftitem Containers
{
	//Sub Selections
	Item    MetalChestSouth
	Item    StrongBoxSouth
}

Craftitem Decoration
{
	//Sub Selections
	Item    Basin
#	Item    Brazier
#	Item    ElevatedBrazier
	Item    BustSouth
	Item	ClockSouth
	Item    ComtoiseClockDeed
	Item	LongCaseClockDeed
	Item	OrnateClockDeed
#	Item	WallClockDeed
	Item    CrystalBall
	Item    HourGlass
	Item    Globe
#	Item    smvase
#	Item    lvase
#	Item    SmallFlowerPot
#	Item    LargeflowerPot
#	Item    Pedestal
	Item    Scales
	Item    Shipmodel
#	Item    MaleStatuette
#	Item    FemaleStatuetteEast
#	Item    GargoyleStatuetteWest
#	Item    FighterStatuetteEast
	Item    Tankards
	Item    TarotCards
 	Item    Spyglass
	Item    WigStand
}

Craftitem Jewelry
{
	//Sub Selections
	Item    Bracelet
	Item    Earrings
	Item	silvernecklace
	Item    goldnecklace
	Item	goldnecklace
	Item    Ring
}

Craftitem Equipment
{
	//Sub Selections
	Item	ButcherKnife
	Item    Cleaver
	Item    Hatchet
	Item	SkinningKnife
	Item    Pitchfork
}

Craftitem Lighting
{
	//Sub Selections
#	Item    Candle				These will be made with dipping sticks
	Item    Small3Candelabra
	Item    large3candelabra
	Item    Small5Candelabra
	Item    large6candelabra
	Item    Lantern
	Item    WallSconce
	Item    SkullCandle
}

Craftitem Magic
{
	//Sub Selections
	Item    alchSymbol1
	Item    alchSymbol2
	Item    alchSymbol3
	Item    alchSymbol4
	Item    alchSymbol5
	Item    alchSymbol6
	Item    alchSymbol7
	Item    alchSymbol8
	Item    alchSymbol9
	Item    alchSymbol10
	Item    alchSymbol11
}

Craftitem Other Items
{
	//Sub Selections
	Item    BlankScroll
	Item    BlankMap
	Item    EmptyBottle
	Item    CopperKey
	Item    GoldKey
	Item    IronKey
	Item    KeyRing
	Item    RecallRune
	Item    Spellbook
	Item    PotionKeg
	Item    Dyetub
	Item	DartTrap
	Item	GasTrap
	Item	ExplosionTrap
}

Craftitem Parts
{
	//Sub Selections
	Item    Axle
	Item	AxleWithGears
	Item    BarrelHoops
	Item    BarrelTap
	Item    ClockFrame
	Item    ClockParts
	Item    DippingStick
	Item    FlaskStand
	Item	Gears
	Item	Hinge
	Item    SextantParts
	Item    Springs
}

Craftitem Tools
{
	//Sub Selections
	Item	DovetailSaw
	Item	DrawKnife
	Item	Froe
	Item	Hammer
	Item    HeatingStandSouth
	Item	Inshave
	Item	JointingPlane
	Item	Lockpick
	Item    MalletChisel
	Item    Mortar
	Item    MouldingPlane
	Item    Pickaxe
	Item	Saw
	Item	Scissors
	Item	Shears
	Item	Scorp
	Item    Sextant
	Item	SewingKit
	Item	Shovel
	Item	SledgeHammer
	Item	Smithhammer
	Item    SmoothingPlane
	Item    TinkersTools
	Item	Tongs
	Item    Dyes
}

Craftitem	Cookware
{
	// Sub selections
	Item    CauldronSouth
	Item    CeramicMug
	Item    EmptyFlask
	Item    EmptyFlask2
	Item    EmptyVial
	Item    EmptyVials
	Item    Frypan
	Item    Glass
	Item    GlassMugs
	Item    GlassPitcher2
	Item    SilverGoblet1
	Item    Kettle
	Item    MetalPlate
	Item    MetalSpoonEast
	Item    MetalForkEast
	Item	MetalKnifeEast
	Item    SilverwareEast
}

