# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Coordinates and Locations
	Version		1.0
	Description	Utilities for calculating coordinates and locations

	Creator		MuadDib
	C_Email		muaddib@lostsoulsshard.org

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
}
