# $Id$
#
#
ICP Register
{
	Name		Moongates
	Version		1.0
	Description	Manages the setup of the system moongates and other moongate items.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
	Script		admin	:moongates:systemMoonGate/moongateInit
}