# System moongate
Item    0x16201
{
    Name            systemmoongate
    Desc            magical moongate
    Script          systemMoongate
    Graphic         0x0F6C
    Facing          29
    WalkOnScript    systemMoongate
    SaveOnExit      0
    OldObjType    0x6201
}
