# $Id: CarpMenu.cfg 1448 2009-03-02 13:38:29Z muaddib_pol $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus	
	Title	<center>Cooking Selection Menu</center>
	Skill	Cooking
	SkillID	Cooking
	Group	Ingredients
}

Craftitem Ingredients
{
	
	//Sub Selections	
	Item	flour
}