##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill         blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID       7       <- SkillID of the skill listed in Skill.
#      Group         Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus	
	Title	<center>Alchemy Selection Menu</center>
	Skill	Alchemy
	SkillID	Alchemy
	Group	Agility
	Group	Cure
	Group	Explosion
	Group	Heal
	Group	Poison
	Group	Refresh
	Group	Strength
	Group	Misc
}

Craftitem Agility
{
	
	//Sub Selections	
	Item	AgilityPotion
	Item	GreaterAgility
}

Craftitem Cure
{
	
	//Sub Selections	
	Item	LesserCure
	Item	CurePotion
	Item	GreaterCure
}

Craftitem Explosion
{
	
	//Sub Selections	
	Item	LesserExplosion
	Item	ExplosionPotion
	Item	GreaterExplosion
}

Craftitem Heal
{
	
	//Sub Selections	
	Item	LesserHeal
	Item	HealPotion
	Item	GreaterHeal
}

Craftitem Poison
{
	
	//Sub Selections	
	Item	LesserPoison
	Item	PoisonPotion
	Item	GreaterPoison
	Item	DeadlyPoison
}

Craftitem Refresh
{
	
	//Sub Selections	
	Item	RefreshPotion
	Item	TotalRefresh
}

Craftitem Strength
{
	
	//Sub Selections	
	Item	StrengthPotion
	Item	GreaterStrength
}

Craftitem Misc
{
	
	//Sub Selections	
	Item	Nightsight
}