# Note, regions found later in the file override those found earlier.

Global
{
    InitialUnits    10000
landtile 0x240
landtile 0x241
landtile 0x242
landtile 0x243
landtile 0x244
landtile 0x245
landtile 0x246
landtile 0x247
landtile 0x248
landtile 0x249
landtile 0x24a
landtile 0x24b
landtile 0x24c
landtile 0x24d
landtile 0x24e
landtile 0x24f
landtile 0x250
landtile 0x3D65
landtile 0x3D66
landtile 0x3D67
landtile 0x3D68
landtile 0x3D69
landtile 0x3D6A
landtile 0x3D6B
landtile 0x3D6C
landtile 0x3D6D
landtile 0x3D6E
landtile 0x3D6F
landtile 0x3D70
landtile 0x3D71
landtile 0x3D72
landtile 0x3D73
landtile 0x3D74
landtile 0x3D75
landtile 0x3D76
landtile 0x3D77
landtile 0x3D78
landtile 0x3D79
landtile 0x3D7A
landtile 0x3D7B
landtile 0x3D7C
landtile 0x3D7D
landtile 0x3D7E
landtile 0x3D7F
landtile 0x3D80
landtile 0x3D81
landtile 0x3D82
landtile 0x3D83
landtile 0x3D84
landtile 0x3D85
landtile 0x3D86
landtile 0x3D87
landtile 0x3D88
landtile 0x3D89
landtile 0x3D8A
landtile 0x3D8B
landtile 0x3D8C
landtile 0x3D8D
landtile 0x3D8E
landtile 0x3D8F
landtile 0x3D90
landtile 0x3D91
landtile 0x3D92
landtile 0x3D93
landtile 0x3D94
landtile 0x3D95
landtile 0x3D96
landtile 0x3D97
landtile 0x3D98
landtile 0x3D99
landtile 0x3D9A
landtile 0x3D9B
landtile 0x3D9C
landtile 0x3D9D
landtile 0x3D9E
landtile 0x3D9F
landtile 0x3DA0
landtile 0x3DA1
landtile 0x3DA2
landtile 0x3DA3
landtile 0x3DA4
landtile 0x3DA5
landtile 0x3DA6
landtile 0x3DA7
landtile 0x3DA8
landtile 0x3DA9
landtile 0x3DAA
landtile 0x3DAB
landtile 0x3DAC
landtile 0x3DAD
landtile 0x3DAE
landtile 0x3DAF
landtile 0x3DB0
landtile 0x3DB1
landtile 0x3DB2
landtile 0x3DB3
landtile 0x3DB4
landtile 0x3DB5
landtile 0x3DB6
landtile 0x3DB7
landtile 0x3DB8
landtile 0x3DB9
landtile 0x3DBA
landtile 0x3DBB
landtile 0x3DBC
landtile 0x3DBD
landtile 0x3DBE
landtile 0x3DBF
landtile 0x3DC0
landtile 0x3DC1
landtile 0x3DC2
landtile 0x3DC3
landtile 0x3DC4
landtile 0x3DC5
landtile 0x3DC6
landtile 0x3DC7
landtile 0x3DC8
landtile 0x3DC9
landtile 0x3DCA
landtile 0x3DCB
landtile 0x3DCC
landtile 0x3DCD
landtile 0x3DCE
landtile 0x3DCF
landtile 0x3DD0
landtile 0x3DD1
landtile 0x3DD2
landtile 0x3DD3
landtile 0x3DD4
landtile 0x3DD5
landtile 0x3DD6
landtile 0x3DD7
landtile 0x3DD8
landtile 0x3DD9
landtile 0x3DDA
landtile 0x3DDB
landtile 0x3DDC
landtile 0x3DDD
landtile 0x3DDE
landtile 0x3DDF
landtile 0x3DE0
landtile 0x3DE1
landtile 0x3DE2
landtile 0x3DE3
landtile 0x3DE4
landtile 0x3DE5
landtile 0x3DE6
landtile 0x3DE7
landtile 0x3DE8
landtile 0x3DE9
landtile 0x3DEA
landtile 0x3DEB
landtile 0x3DEC
landtile 0x3DED
landtile 0x3DEE
landtile 0x3DEF
landtile 0x3DF0
landtile 0x3DF1
landtile 0x3DF2
landtile 0x3DF3
landtile 0x3DF4
landtile 0x3DF5
landtile 0x3DF6
landtile 0x3DF7
landtile 0x3DF8
landtile 0x3DF9
landtile 0x3DFA
landtile 0x3DFB
landtile 0x3DFC
landtile 0x3DFD
landtile 0x3DFE
landtile 0x3DFF
landtile 0x3E00
landtile 0x3E01
landtile 0x3E02
landtile 0x3E03
landtile 0x3E04
landtile 0x3E05
landtile 0x3E06
landtile 0x3E07
landtile 0x3E08
landtile 0x3E09
landtile 0x3E0A
landtile 0x3E0B
landtile 0x3E0C
landtile 0x3E0D
landtile 0x3E0E
landtile 0x3E0F
landtile 0x3E10
landtile 0x3E11
landtile 0x3E12
landtile 0x3E13
landtile 0x3E14
landtile 0x3E15
landtile 0x3E16
landtile 0x3E17
landtile 0x3E18
landtile 0x3E19
landtile 0x3E1A
landtile 0x3E1B
landtile 0x3E1C
landtile 0x3E1D
landtile 0x3E1E
landtile 0x3E1F
landtile 0x3E20
landtile 0x3E21
landtile 0x3E22
landtile 0x3E23
landtile 0x3E24
landtile 0x3E25
landtile 0x3E26
landtile 0x3E27
landtile 0x3E28
landtile 0x3E29
landtile 0x3E2A
landtile 0x3E2B
landtile 0x3E2C
landtile 0x3E2D
landtile 0x3E2E
landtile 0x3E2F
landtile 0x3E30
landtile 0x3E31
landtile 0x3E32
landtile 0x3E33
landtile 0x3E34
landtile 0x3E35
landtile 0x3E36
landtile 0x3E37
landtile 0x3E38
landtile 0x3E39
landtile 0x3E3A
landtile 0x3E3B
landtile 0x3E3C
landtile 0x3E3D
landtile 0x3E3E
landtile 0x3E3F
landtile 0x3E40
landtile 0x3E41
landtile 0x3E42
landtile 0x3E43
landtile 0x3E44
landtile 0x3E45
landtile 0x3E46
landtile 0x3E47
landtile 0x3E48
landtile 0x3E49
landtile 0x3E4A
landtile 0x3E4B
landtile 0x3E4C
landtile 0x3E4D
landtile 0x3E4E
landtile 0x3E4F
landtile 0x3E50
landtile 0x3E51
landtile 0x3E52
landtile 0x3E53
landtile 0x3E54
landtile 0x3E55
landtile 0x3E56
landtile 0x3E57
landtile 0x3E58
landtile 0x3E59
landtile 0x3E5A
landtile 0x3E5B
landtile 0x3E5C
landtile 0x3E5D
landtile 0x3E5E
landtile 0x3E5F
landtile 0x3E60
landtile 0x3E61
landtile 0x3E62
landtile 0x3E63
landtile 0x3E64
landtile 0x3E65
landtile 0x3E66
landtile 0x3E67
landtile 0x3E68
landtile 0x3E69
landtile 0x3E6A
landtile 0x3E6B
landtile 0x3E6C
landtile 0x3E6D
landtile 0x3E6E
landtile 0x3E6F
landtile 0x3E70
landtile 0x3E71
landtile 0x3E72
landtile 0x3E73
landtile 0x3E74
landtile 0x3E75
landtile 0x3E76
landtile 0x3E77
landtile 0x3E78
landtile 0x3E79
landtile 0x3E7A
landtile 0x3E7B
landtile 0x3E7C
landtile 0x3E7D
landtile 0x3E7E
landtile 0x3E7F
landtile 0x3E80
landtile 0x3E81
landtile 0x3E82
landtile 0x3E83
landtile 0x3E84
landtile 0x3E85
landtile 0x3E86
landtile 0x3E87
landtile 0x3E88
landtile 0x3E89
landtile 0x3E8A
landtile 0x3E8B
landtile 0x3E8C
landtile 0x3E8D
landtile 0x3E8E
landtile 0x3E8F
landtile 0x3E90
landtile 0x3E91
landtile 0x3E92
landtile 0x3E93
landtile 0x3E94
landtile 0x3E95
landtile 0x3E96
landtile 0x3E97
landtile 0x3E98
landtile 0x3E99
landtile 0x3E9A
landtile 0x3E9B
landtile 0x3E9C
landtile 0x3E9D
landtile 0x3E9E
landtile 0x3E9F
landtile 0x3EA0
landtile 0x3EA1
landtile 0x3EA2
landtile 0x3EA3
landtile 0x3EA4
landtile 0x3EA5
landtile 0x3EA6
landtile 0x3EA7
landtile 0x3EA8
landtile 0x3EA9
landtile 0x3EAA
landtile 0x3EAB
landtile 0x3EAC
landtile 0x3EAD
landtile 0x3EAE
landtile 0x3EAF
landtile 0x3EB0
landtile 0x3EB1
landtile 0x3EB2
landtile 0x3EB3
landtile 0x3EB4
landtile 0x3EB5
landtile 0x3EB6
landtile 0x3EB7
landtile 0x3EB8
landtile 0x3EB9
landtile 0x3EBA
landtile 0x3EBB
landtile 0x3EBC
landtile 0x3EBD
landtile 0x3EBE
landtile 0x3EBF
landtile 0x3EC0
landtile 0x3EC1
landtile 0x3EC2
landtile 0x3EC3
landtile 0x3EC4
landtile 0x3EC5
landtile 0x3EC6
landtile 0x3EC7
landtile 0x3EC8
landtile 0x3EC9
landtile 0x3ECA
landtile 0x3ECB
landtile 0x3ECC
landtile 0x3ECD
landtile 0x3ECE
landtile 0x3ECF
landtile 0x3ED0
landtile 0x3ED1
landtile 0x3ED2
landtile 0x3ED3
landtile 0x3ED4
landtile 0x3ED5
landtile 0x3ED6
landtile 0x3ED7
landtile 0x3ED8
landtile 0x3ED9
landtile 0x3EDA
landtile 0x3EDB
landtile 0x3EDC
landtile 0x3EDD
landtile 0x3EDE
landtile 0x3EDF
landtile 0x3EE0
landtile 0x3EE1
landtile 0x3EE2
landtile 0x3EE3
landtile 0x3EE4
landtile 0x3EE5
landtile 0x3EE6
landtile 0x3EE7
landtile 0x3EE8
landtile 0x3EE9
landtile 0x3EEA
landtile 0x3EEB
landtile 0x3EEC
landtile 0x3EED
landtile 0x3EEE
landtile 0x3EEF
landtile 0x3EF0

} 

Region The Whole World
{
    UnitsPerArea        10
    SecondsPerRegrow    30
    Capacity            10000
    Range               0 0 5119 4095
}

