# $Id: pkg.cfg 843 2006-09-21 08:20:37Z austinheilman $
#
#

Enabled		1
Name		maps

Version		2.0

CoreRequired	97

Creator		Austin Heilman
Email		AustinHeilman@gmail.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires	none
#Conflicts	none
