# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Spawn System
	Version		1.0
	Description	Extremely modular spawner system. Spawning is engine based.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Pol Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
	//#TextCmd	cmdlevel	path

	TextCmd		3		:spawnSystem:commands\gm\wherespawner
	TextCmd		3		:spawnSystem:commands\gm\spawner
	TextCmd		3		:spawnSystem:commands\test\forceRegionSpawn
	TextCmd		3		:spawnSystem:commands\test\restartspawner
}
