Item 0x262F0
{
	Name            systemmoongate
	Desc            moongate
	Graphic         0x0F6C
	#Graphic         0x0001
	WalkOnScript    :moongates:moongate/moongateWalkOn
	SaveOnExit		0
	Movable		0
}

Item 0x262F1
{
	Name		moonstone
	Desc		moonstone
	Graphic		0xf21
	Color		0x8482
	Script		:moongates:moonstone
	VendorSellsFor	600
	VendorBuysFor	250
}